* {
    user-select: none;
}

#header {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

#header h1, #header h5 {
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: center;
}

#header h5 {
    margin-top: 5px;
}